<h1 class="col-md-10 col-md-offset-4">Track List</h1>

<% @tracks.each do |track| %>
  <div class="track col-md-8 col-md-offset-3">
    <h3><a href="/tracks/<%= track.id %>"><%= track.song_title %></a> <small>(by: <%= track.artist %>) Track posted by: <%= track.author %></small></h3>
    <form action="/tracks/<%= track.id %>/upvotes" method="post">
    <input type='submit' value='Upvote'> (<%= track.upvotes || 0 %> votes)
    </form>
    <p><%= track.url %></p>
  </div>
<% end %>
