<div class="jumbotron">
<<<<<<< HEAD
  <h2><%= @track.song_title %> by <%= @track.artist %></h2>
  <p>Posted by: <%= @track.author %></p>
  <p> <%= @track.url %> </p>
  <p><a href="/tracks" class="btn btn-primary btn-lg" role="button">Back to Tracks</a></p>
=======
  <h2><%= @story.title %> by <%= current_user.user_name %></h2>
  <p> <%= @story.body %> </p>
  <p> <%= "We need to put in steps here" %> </p>
  <p><a href="/stories" class="btn btn-primary btn-lg" role="button">Back to Stories</a></p>
>>>>>>> 780e10b4b8cb8e09485c3e01639a8ddb3accd139
</div>