<div class="backgroundimg6"></div>
<div class="jumbotron">
  <h1>"<%= @story.title %>"</h1> 
  <p> <em><%= @story.body %></em> </p>
  <p> <em>by <%= @story.user_name %></em></p>
  <!-- need to put in if !is_original_poster -->
  <% if @step_id > 0 %>
			  <div class="stepshow">
			  	<h3 class="stepnum">Step <%= @step_id %></h3>
			  	<h2 class="steptext">
			  		<%= @story.steps[@step_id - 1].step_text %>
			  	</h1>
			  </div>
	<% end %>
	<% if @step_id + 1 <= @story.steps.length %>
  	<p><a href="/stories/<%= @story.id %>/step/<%= @step_id + 1 %>" class="btn btn-primary btn-lg" role="button" id="nextstep">To Step <%= @step_id + 1 %></a></p>
  <% end %>
  <% if @step_id == @story.steps.length %>
  	<p><a href="/stories/<%= @story.id %>/step/<%= @step_id - 1 %>" class="btn btn-primary btn-lg" role="button" id="prevstep">Back To Step <%= @step_id - 1 %></a></p>
  <% end %>
  <p><a href="/stories" class="btn btn-primary btn-lg" role="button" id="returnwall">Back to Story Wall</a></p>
</div>
